<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <style>
      h1 {
          color: green;
      }
  </style>
</head>
<body>
<nav>
  <ul>
    <li><a href="/login">Залогінитись</a></li>
    <li><a href="/register">Створити акаунт</a></li>
  </ul>
</nav>
<h1>Залогінтеся до вашого акаунту</h1>
<form action="#" method="post">
  <label for="username">Логін:</label>
  <input type="text" name="username"/>
  <label for="password">Пароль:</label>
  <input type="password" name="password"/>
  <button type="submit">Увійти</button>
</form>
</body>
</html>
